body{
    margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}

.tabelabrasileirao{
    background-color: #3B9C01;
    color: white;
    text-align: center;
    padding: 35px;
}
.rounded
    width: 17px;
    height: 17px;
}
.table{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.historico li{
   display: inline;
}
